{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<style>#scrollableprojects { height: 200px; width: 600px; overflow: scroll; }</style>

<div class="splash-container">
  <div class="splash">
    
    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">{{ .Params.handle }}</span>
    {{ end }}
    <h2>
      {{ .Params.subheading }}
    </h2>
    <writing>This website is my portfolio, blog and resume. The "tutorial" tab is me learning in public, and a demonstration of my knowledge as a beginner to other beginners.
    </writing>
    <h3>My Featured Projects</h3>
    <div class = "projects", id = "scrollableprojects">
      <div class="item"><a href = "abhijariwala.netlify.app"></a>This Website!</div>
      <div class="item">coming soon!</div> <!--second-->
      <div class="item">coming soon!</div> <!--third-->
      <div class="item">coming soon!</div> <!--fourth-->
      <div class="item">coming soon!</div> <!--fifth-->
      <div class="item">coming soon!</div> <!--sixth-->
      <div class="item">coming soon!</div> <!--seventh-->
      <div class="item">coming soon!</div> <!--eighth-->
      <div class="item">coming soon!</div> <!--ninth-->
    </div>
    <h3>My Featured Blog Posts</h3>

    <a href = "https://abhijariwala.netlify.app/blog/aiyoooo/"> My first blog</a>

    {{ partial "social-icons.html" .}}
  </div>
</div>

{{ end }}
